.header{
    width: 100%;
    &__fotos{
        display: flex;

        img{
            max-width: 33.33%;
            @media (max-width: 992px){
                max-width: 100%;
                &.dois, &.tres{
                    display: none;
                }
            }
        }
    }

    &__perfil{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        max-width: 700px;
        margin: -100px auto 0 auto;
        padding: 0 20px;

        img{
            width: 200px;
            border-radius: 50%;
            margin-bottom: 20px;
            border: 10px solid #bfdef1;
        }

        h1{
            font-size: 4rem;
            text-decoration: underline;
            text-decoration-color: #bfdef1;
            @media (max-width: 992px){
                font-size: 3rem;
            }
        }

        h3{
            font-size: 2rem;
            @media (max-width: 992px){
                font-size: 1.8rem;
            }
        }
    }
}